/*@import 'https://fonts.googleapis.com/css?family=Karla';*/
/*@import url('https://fonts.googleapis.com/css?family=Delius|Itim|Short+Stack');*/
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Delius|Itim|Schoolbell|Short+Stack|Sue+Ellen+Francisco');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
:root {
	--main-color: #585a81;
	--main-dark-color: #15162d; /* #3e406b */
	--secondary-color: #ffea7d;
	--main-padding: 4rem;
	--secondary-padding: 3rem;
}
html {
	/*background: var(--main-color);*/
	color: white;
	font: normal 100%/1.2 sans-serif;
	text-align: center;
}
.hand {
	font-family: 'Caveat Brush', sans-serif;
}
html, body {
	height: 100%;
	min-height: 100%;
}
body {
	position: relative;
}
/*body:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	opacity: .75;
	background: url(../images/loads-o-tapes-opt.jpg) no-repeat top center;
	content: "";
}*/

a {
	color: var(--main-color);
}

.main-header-wrapper {
	/*position: relative;
	height: 95vh;
	min-height: 500px;
	max-height: 700px;*/
	/*background: var(--main-dark-color);*/
	background: #79457e;
}
/*.main-header-wrapper:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	opacity: .75;
	background: url(../images/loads-o-tapes-opt.jpg) no-repeat top center;
	content: "";
}*/
.main-header {
	position: relative;
	z-index: 1;
	padding: 2.5rem 1.5rem 0;
	overflow: hidden;
	font-size: 24px;
}
.main-header-logo {
	max-width: 120px;
}

.main-content {
	/*position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	z-index: 1;*/
	/*left: 0;*/
	/*bottom: var(--main-padding);*/
	/*z-index: 2;*/
	/*width: calc(100% - 3rem);*/
	/*padding: 15rem 1.5rem 0;*/
}

.main-content-img {
	display: block;
	max-width: 500px;
	width: 100%;
	margin: 1rem auto;
}
@media screen and (max-width: 600px) {
	.main-content-img {
		width: 110%;
		margin-left: -5%;
	}
}

/*@media screen and (max-height: 600px) {
	.main-content {
		position: static;
	}
}*/

.main-content-wrapper {
	/*max-width: 30rem;*/
	margin: auto;
	padding: 2rem 1.5rem;
}
/*.main-content-headline,
.main-content-text {
	text-shadow: 1px 1px 0 var(--main-color);
}*/
.main-content-headline {
	margin-bottom: .75rem;
	/*color: var(--secondary-color);*/
	font-size: 40px;
	/*font-weight: normal;*/
	letter-spacing: -.5px;
	line-height: 1;
	/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
}
.main-content-text {
	/*opacity: .75;*/
	margin-bottom: var(--secondary-padding);
	font-size: 20px;
	/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
}
.main-logo-inline {
	position: relative;
	top: 2px;
	max-height: 1.2rem;
}
.main-content-button {
	display: inline-block;
	position: relative;
	top: 1rem;
	background: var(--secondary-color);
	margin-top: 1rem;
	padding: 1rem 2rem;
	border-radius: 3px;
	box-shadow: 3px 3px 0 var(--main-dark-color);
	/*color: var(--main-dark-color);*/
	font-size: 24px;
	text-decoration: none;
}

.secondary-content {
	/*position: relative;
	top: 100vh;*/
	background: white;
	margin: var(--main-padding) auto auto;
	padding: var(--main-padding) 0;
	color: #666;
}
.secondary-content-wrapper {
	max-width: 30rem;
	margin: auto;
}
.secondary-content-headline {
	margin-bottom: .5rem;
	color: #040407;
	font-size: 27px;
	font-weight: normal;
	letter-spacing: -.5px;
}
.secondary-content-text {
	/*position: relative;
	padding-top: .35rem;
	padding-left: 7rem;*/
	/*font-size: 20px;*/
	/*text-align: left;*/
}
ol {
	padding-top: 2rem;
}
li {
	position: relative;
	list-style: none;
	font-size: 18px;
}
li em {
	opacity: .75;
	font-style: normal;
}
li:before {
	display: block;
	padding-bottom: .5rem;
	color: #999;
	content: attr(data-number);
	font-size: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
li:after {
	display: block;
	height: 8rem;
	width: 1px;
	background: #efefef;
	margin: 1rem auto;
	content: "";
}
li:last-child:after {
	display: none;
}
/*.secondary-content-text:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 5rem;
	width: 5rem;
	background: #999;
	border-radius: 3px;
	content: "";
}*/